       h1, h2, h3, h4, h5, h6 {
            color: crimson;
        }
        body {
            margin: 0;
            background-color: antiquewhite;

        }
        ul {
            list-style: none;
        }
        figure, figcaption{
            text-align: left;
        }
        figcaption {
            margin-right: auto;
        }
header{
    background: gold;
}
